* {
    margin: 0;
    background-color: black;
    color: #f2f2f2;
}

body {

}

header {
    width: 100%;
    margin: auto;
    height: 200px;
}

.container {
    display: flex;
    flex-direction: column;
}

.container h2 {

}